<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>
<hr>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas" ></app-tarjetas>

<!-- <div class="card-columns m-3">
    <div class="card" *ngFor="let artista of artistas">
      <img [src]="artista.images | noimage" class="card-img-top" [alt]="artista.name">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
        <p class="card-text">
            <span class="badge badge-pill badge-primary" *ngFor="let art of artista.artists">
                {{ art.name }}
            </span>
        </p>
      </div>
    </div>
</div> -->