<h1 class="animated fadeIn fast">Sobre Comic</h1>
<hr>
<p class="animated fadeIn fast">
  Una historieta o cómic es una serie de dibujos que constituyen un relato, con o sin texto, así como al medio de comunicación en su conjunto.
</p>
<p class="animated fadeIn">
  Partiendo de la concepción de Will Eisner de esta narrativa gráfica como un arte secuencial, Scott McCloud llega a la siguiente definición: «Ilustraciones yuxtapuestas y otras imágenes en secuencia deliberada con el propósito de transmitir información u obtener una respuesta estética del lector». Sin embargo, no todos los teóricos están de acuerdo con esta definición, la más popular en la actualidad, dado que permite la inclusión de la fotonovela y, en cambio, ignora el denominado humor gráfico.
</p>
