<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(formu)" #formu="ngForm">

  <div>
    <div class="form-group row">
      <!-- text-danger - Clase para poner el label en rojo -->
      <label class="col-2 col-form-label ">Nombre</label>
      <div class="col-8">
        <input class="form-control is-invalid"
               type="text"
               name="nombre"
               placeholder="Nombre"
               required
               minlength="5"
               #nombre = "ngModel"
               [ngModel]="usuario.nombre"
               [class.is-invalid] = "nombre.invalid && nombre.touched" >
        <small *ngIf="nombre.invalid && nombre.touched"
               class="form-text text-danger">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               name = "apellido"
               placeholder = "Apellido"
               minlength = "5"
               required
               #apellido = "ngModel"
               [ngModel] = "usuario.apellido"
               [class.is-invalid] = "apellido.invalid && apellido.touched" >
        <small *ngIf="apellido.invalid && apellido.touched"
               class="form-text text-danger">Ingrese 5 letras</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input class="form-control"
             type="email"
             name="correo"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #correo = "ngModel"
             [ngModel] = "usuario.correo"
             [class.is-invalid] = "correo.invalid && correo.touched" >
      <small *ngIf="correo.invalid && correo.touched"
             class="form-text text-danger">Ingrese un correo válido</small>
    </div>
  </div>

  <div class="form-group row">
    <!-- text-danger - Clase para poner el label en rojo -->
    <label class="col-2 col-form-label ">País</label>
    <div class="col-8">
      <select class="form-control"
              name="pais"
              required
              [disabled] = "paises.length === 0"
              [ngModel] = "usuario.pais"
              #pais = "ngModel"
              [class.is-invalid] = "pais.invalid && pais.touched">
          <option  *ngFor="let pais of paises"
                  [value]="pais.codigo">
              {{ pais.nombre }}
          </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label ">Género</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" value="M"
               [class.is-invalid] = "genero.invalid && genero.touched"
               [ngModel] = "usuario.genero" 
               #genero = "ngModel">
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" value="F"
               [class.is-invalid] = "genero.invalid && genero.touched"
               [ngModel] = "usuario.genero" 
               #genero = "ngModel">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>